<div class="centered">
    <div class="empCard">
        <img [src]="imgURL" loading="lazy" (click)="displayDescription()" alt="{{empName}}'s picture" *ngIf="!isEmad">
        <img [src]="imgURL" loading="lazy" (click)="navigateToEmad()" alt="{{empName}}'s picture" *ngIf="isEmad">
        <h2 (click)="displayDescription()" *ngIf="!isEmad">{{empName}}</h2>
        <h2 (click)="navigateToEmad()" *ngIf="isEmad">{{empName}}</h2>
        <h4>{{empTitle}}</h4>
    </div>
</div>

<div class="main-container" *ngIf="descriptionVisible">
    <div class="card">
        <div class="cover">
            <img [src]="imgURL" loading="lazy" alt="{{empName}}'s picture">
            <div id="cover-sec-col">
                <fa-icon [icon]="faCircleXmark" (click)="displayDescription()" id="exit-btn"></fa-icon>
                <div>
                    <h2>{{empName}}</h2>
                    <h4>{{empTitle}}</h4>
                </div>
            </div>

        </div>
        <div class="desc">
            <p *ngFor="let description of desc">
                {{description}}
            </p>
        </div>
    </div>
</div>