<div class="contactUs">
    <div class="box">
        <h1>Contact us</h1>
        <div class="buttons">
            <!-- <app-rounded-button [buttonTitle]="buttonValOne" class="buttonOne" [isContactUs]="true"></app-rounded-button>
            <app-rounded-button [buttonTitle]="buttonValTwo" [buttonType]="buttonTypeTwo" [isContactUs]="true"></app-rounded-button> -->
            <button id="btn1">
                <a href="tel:+201224661050">{{ buttonValOne }}</a>
            </button>
            <button id="btn2">
                <a href="mailto:emad@emadlawfirm.com">{{ buttonValTwo }}</a>
            </button>
        </div>
    </div>
</div>