  <div class="header" id="head">
    <app-header></app-header>
  </div>
  
  <div class="containerOne">
    <div class="textBlockOne">
      <p>
        Emad Helmy Said Law Firm is Egypt’s Prime Legal Counsel Operating With
        International Standards
      </p>
    </div>
    <img src="./assets/aboutUsPhoto.png" class="firstPhoto" />
  </div>
  
  <div class="containerOne">
    <img id="img2" src="./assets/aboutUsPhotoTwo.png" class="secondPhoto" />
    <div class="textBlockTwo web">
      <!-- <p class="details">
        Emad Helmy Said Law Firm is Egypt’s Prime Legal Counsel Operating With
        International Standards: Our law firm has been in Egypt for almost 20
        years, serving both national and international clients. <br><br>Our legal services
        cover international situations and are provided by a team of skilled
        lawyers in each field. Investing in people, we create a friendly
        atmosphere for our solicitors, who are vital to our firm’s success.<br><br> We
        provide innovative services that cater to our clients’ needs and maintain
        a reputation of honesty and commitment. We work around the clock to ensure
        the best interest of our clients, supported by their trust in our
        services.
      </p> -->
      <p class="details">
        Introducing Emad Helmy Said Law firm, a boutique law firm situated right in the heart of Cairo, with a team of skilled and experienced lawyers ready to provide clients with exceptional legal services. Our firm is focused on offering personalized, effective, and practical solutions to legal issues. At Emad Helmy Said Law Firm, we believe that every client deserves dedicated attention and tailored legal support. Our lawyers have extensive experience in various areas of law, including corporate law, intellectual property, commercial litigation, and more. We pride ourselves on providing our clients with the highest level of professionalism, integrity, and expertise. Our goal is to help our clients achieve the best possible outcomes by providing them with strategic legal advice, efficient representation, and personalized attention. Contact Emad Helmy Said Law Firm today to learn more about our legal services and how we can help you with your legal needs.
      </p>
    </div>
  </div>
  
  <div class="mobile textBlockTwo">
    <!-- <p class="details">
      Emad Helmy Said Law Firm is Egypt’s Prime Legal Counsel Operating With
      International Standards: Our law firm has been in Egypt for almost 20
      years, serving both national and international clients. <br><br>Our legal services
      cover international situations and are provided by a team of skilled
      lawyers in each field. Investing in people, we create a friendly
      atmosphere for our solicitors, who are vital to our firm’s success.<br><br> We
      provide innovative services that cater to our clients’ needs and maintain
      a reputation of honesty and commitment. We work around the clock to ensure
      the best interest of our clients, supported by their trust in our
      services.
    </p> -->
    <p class="details">
      Introducing Emad Helmy Said Law firm, a boutique law firm situated right in the heart of Cairo, with a team of skilled and experienced lawyers ready to provide clients with exceptional legal services. Our firm is focused on offering personalized, effective, and practical solutions to legal issues. At Emad Helmy Said Law Firm, we believe that every client deserves dedicated attention and tailored legal support. Our lawyers have extensive experience in various areas of law, including corporate law, intellectual property, commercial litigation, and more. We pride ourselves on providing our clients with the highest level of professionalism, integrity, and expertise. Our goal is to help our clients achieve the best possible outcomes by providing them with strategic legal advice, efficient representation, and personalized attention. Contact Emad Helmy Said Law Firm today to learn more about our legal services and how we can help you with your legal needs.
    </p>
  </div>
  
  <!-- <div class="ourClients">
    <div class="ourClientsTitle">
      <h1>Our Clients</h1>
    </div>
  
    <div class="centered">
      <div class="custom-flex">
        <div id="clientCardMargin" *ngFor="let client of clientsLogos">
          <div class="clientCard">
            <img src="{{ client }}" class="clientLogo" alt="{{ client }}" />
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
  <app-footer></app-footer>
