<div class="custom_div">
  <div class="grey_area web">
    <h1>FAQs</h1>
    <!-- <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    </p> -->
  </div>
  <div class="mobile" *ngIf="!questionClicked">
    <div class="grey_area" >
      <h1>FAQs</h1>
      <!-- <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      </p> -->
    </div>
  </div>
  <div class="nonGrey">
    <div class="quest">
      <div class="header">
        <h4>What are the governing laws for conducting business in The Arab Republic of Egypt?</h4>
        <div (click)="setClick('firstClicked')">
          <fa-icon
            [icon]="firstClicked ? faCircleMinus : faCirclePlus"
          ></fa-icon>
        </div>
      </div>
      <div *ngIf="firstClicked" class="answer">
        <p>
          There are two main laws:
        </p>
        <ul>
          <li>Egyptian companies Law no. 159 of 1981 and its amendments.</li>
          <li>Egyptian investment Law no. 72 of 2017 and its amendments.</li>
        </ul>
        <p>You can find more information on the Egyptian Companies Law, Egyptian investment Law and their executive regulations upon <a>contacting us</a></p>
      </div>
    </div>

    <div class="horLine"></div>

    <div class="quest">
      <div class="header">
        <h4>What are the types of Commercial Companies in Egypt?</h4>
        <div (click)="setClick('secClicked')">
          <fa-icon [icon]="secClicked ? faCircleMinus : faCirclePlus"></fa-icon>
        </div>
      </div>
      <div *ngIf="secClicked" class="answer">
        <ol>
          <li>One-person company (OPC)</li>
          <li>Limited Liability Company (LLC)</li>
          <li>A company limited by shares</li>
          <li>Joint-stock Company</li>
          <li>Partnership Company</li>
          <li>Limited Partnership Company</li>
        </ol>
        <p>If you happen to face any issues in the assembly, disassembly or legal structure of your company, we would like to offer our legal consultation at Emad Helmy Said Law Firm: kindly contact us.</p>
      </div>
    </div>

    <div class="horLine"></div>

    <div class="quest">
      <div class="header">
        <h4>What is the minimum permissible number of founders in joint-stock company?</h4>
        <div (click)="setClick('thirdClicked')">
          <fa-icon
            [icon]="thirdClicked ? faCircleMinus : faCirclePlus"
          ></fa-icon>
        </div>
      </div>
      <p *ngIf="thirdClicked" class="answer">
        The minimum number of permissible founders in a joint-stock company is three founders. If you would like more information regarding this issue, we would gladly offer our legal consultation at Emad Helmy Said Law Firm.
      </p>
    </div>

    <div class="horLine"></div>

    <div class="quest">
      <div class="header">
        <h4>What are the required legal documents for establishing a limited liability company (LLC) in Egypt?</h4>
        <div (click)="setClick('forthClicked')">
          <fa-icon
            [icon]="forthClicked ? faCircleMinus : faCirclePlus"
          ></fa-icon>
        </div>
      </div>
      <div *ngIf="forthClicked" class="answer">
        <h4>Some documents which are required to prepare from the clients’ end are as follows:</h4>
        <ol>
          <li>Notarized powers of attorney from all founders (minimum two founders) to be legalized from the Egyptian consulate.</li>
          <li>Copies of valid ID and passports of founders.</li>
          <li>An official original certificate obtained from the register of Accountants and Auditors in order to review and approve the balance sheet of the company. In case the original was previously furnished to GAFI, and an acceptance declaration shall be submitted.</li>
        </ol>
        <h4>On the other end, our legal experts shall prepare the following:</h4>
        <ol>
          <li>A certificate of non-confusion of company name approved by the Commercial Register.</li>
          <li>A copy of the Bar Association Card of the lawyer who signs the articles of association.</li>
          <li>A security check on foreign founders and managers.</li>
          <li>The name and address of the company’s legal consultant (who must be a lawyer at least admitted before the Court of Appeal),</li>
          <li>In the event of sharing in-kind shares upon incorporation, the report provided by the experts specialized in the professions stated by the law, must be submitted.</li>
        </ol>
        <p>In the event of needing the provision of such services, at Emad Helmy Said, we would be delighted to offer our legal consultation.</p>
      </div>
    </div>
  </div>
</div>
