.advocacyCentre {
    padding-top: 0;
    /* background-color: var(--secondaryButtonColor); */
    background-image: linear-gradient(var(--secondaryButtonColor), var(--secondaryButtonColor)),
      url("/assets/allTeam.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.custom_sized_box {
    width: var(--custom_width);
    min-width: var(--custom_min_width);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.adCentre {
    color: white;
    font-size: 7vw;
    text-align: center;
    margin-bottom: 30px;
}

p {
    font-size: 1.2em;
}

.onesBehindIt{
    max-width: var(--custom_width);
    min-width: var(--custom_min_width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 7vh;
    /* margin-bottom: 7vh; */
}

h1{
    color: var(--secondaryButtonColor);
    font-size: 4em;
}

p{
    color: var(--blue_accent);
    width: 85%;
    margin: 2vh 0 4vh 0;
}

hr{
    color: var(--secondaryButtonColor);
}

.hrLine{
    border-bottom: 2px solid var(--secondaryButtonColor);
    opacity: 70%;
    border-radius: 6px;
    width: 30%;
    margin: 30px;
}

.centered {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    width: 80%;
    max-width: var(--max_width);
    margin: auto;
    margin-bottom: 30px;
}

.custom-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

#employeeCard {
    width: 30%;
    /* padding: 20px; */
}

#employeeCard * {
    max-width: 500px;
}

#emadCard {
    width: 37%;
    max-width: 550px;
    margin-top: 30px;
}

@media only screen and (max-width: 768px){
    #emadCard {
        margin: 0;
        width: 60%;
    }
    .centered {
        width: 100%;
    }
    .advocacyCentre{
        height: auto;
        min-height: 35%;
        justify-content: space-around;
        padding-bottom: 20px;
    }
    .custom_sized_box{
        min-height: auto;
        margin-top: 20px;
    }
    app-header{
        height: 100px;
    }
    #employeeCard {
        width: 40%;
    }
    #myFooter {
        display: none;
    }

    h1 {
        font-size: 2em;
    }

    p {
        width: 100%;
        text-align: justify;
        font-size: 0.8em;
    }
}