<div class="advocacyCentre">
  <app-header></app-header>
  <div class="custom_sized_box">
    <h1 class="adCentre">Meet our Team</h1>
    <!-- <app-rounded-button [buttonTitle]="firstBtnVal"></app-rounded-button> -->
  </div>
</div>
<div class="onesBehindIt">
  <h1>The ones behind it all</h1>
  <p>
    As a team, we are committed to providing our clients with exceptional legal
    services and achieving the best possible outcome for every case we handle.
    We are dedicated to staying up-to-date with the latest legal developments
    and using our expertise to help our clients navigate complex legal issues.
    We value open communication, collaboration, and teamwork, and we work
    together to ensure that every client receives the support and guidance they
    need to achieve their goals. Our mission is to provide our clients with the
    highest level of legal representation and to make a positive impact on the
    world.
  </p>
  <div id="emadCard">
    <app-emp-card
      [empName]="emadHelmyData.name"
      [empTitle]="emadHelmyData.job_title"
      [imgURL]="emadHelmyData.img_with_bg"
      [empURL]="emadHelmyData.linkedInURL"
      [isEmad]="true"
    ></app-emp-card>
  </div>
  <div class="hrLine"></div>
</div>
<div class="centered">
  <div class="custom-flex">
    <div id="employeeCard" *ngFor="let employee of teamData">
      <app-emp-card
        [empName]="employee.name"
        [empTitle]="employee.job_title"
        [imgURL]="employee.img_with_bg"
        [empURL]="employee.linkedInURL"
        [desc]="employee.desc"
      ></app-emp-card>
    </div>
  </div>
</div>
<app-footer></app-footer>
