<div class="custom_margin">
  <div class="web">
    <div class="custom_container">
      <h1>Why choose us?</h1>
      <div class="custom_row">
        <div class="card" *ngFor="let card of cards">
          <div>
            <!-- <div class="icon">
              <img src="assets/gift.png" alt="Success Rate Icon">
            </div> -->
            <h2>{{card.title}}</h2>
          </div>
          <p>
            {{card.body}}
          </p>
          <!-- <app-rounded-button buttonTitle="Read More"></app-rounded-button> -->
        </div>
        <!-- <div class="card">
          <div class="icon">
            <img src="assets/gift.png" alt="Success Rate Icon">
          </div>
          <h2>98% Success Rate</h2>
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequatduis enim velit mollit Exer.
          </p>
          <app-rounded-button buttonTitle="Read More"></app-rounded-button>
        </div>
        <div class="card">
          <div class="icon">
            <img src="assets/gift.png" alt="Success Rate Icon">
          </div>
          <h2>98% Success Rate</h2>
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequatduis enim velit mollit Exer.
          </p>
          <app-rounded-button buttonTitle="Read More"></app-rounded-button>
        </div> -->
      </div>
    </div>
  </div>



  <div class="mobile">
    <div class="custom_container">
      <div class="custom_row">
        <div class="mobileCardOne">
          <h1>Why choose us?</h1>
        </div>
        <div class="mobileCard">
          <div class="card">
            <!-- <div class="icon">
              <img src="assets/gift.png" alt="Success Rate Icon">
            </div> -->
            <h2>{{cards[0].title}}</h2>
            <p>
              {{cards[0].body}}
            </p>
            <!-- <app-rounded-button buttonTitle="Read More"></app-rounded-button> -->
          </div>
        </div>
      </div>
      <div class="custom_row">
        <div class="mobileCard">
          <div class="card">
            <!-- <div class="icon">
              <img src="assets/gift.png" alt="Success Rate Icon">
            </div> -->
            <h2>{{cards[1].title}}</h2>
            <p>
              {{cards[1].body}}
            </p>
            <!-- <app-rounded-button buttonTitle="Read More" width="10px"></app-rounded-button> -->
          </div>
        </div>
        <div class="mobileCard">
          <div class="card">
            <!-- <div class="icon">
              <img src="assets/gift.png" alt="Success Rate Icon">
            </div> -->
            <h2>{{cards[2].title}}</h2>
            <p>
              {{cards[2].body}}
            </p>
            <!-- <app-rounded-button buttonTitle="Read More"></app-rounded-button> -->
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
