button {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
    text-align: center;
    font-size: 1em;
}

.btn1{
    border-radius: 50px;
    text-align: center;
    color: var(--secondaryButtonColor);
    background-color: var(--primaryButtonColor);
    font-weight: 700;
    letter-spacing: -0.1px;
    padding: 12px 32px;
    border: solid;
    font-size: 20px;
}

.btn1:hover {
    cursor: pointer;
    background-color: grey;
}

.btn2{
    border-radius: 50px;
    text-align: center;
    color: var(--primaryButtonColor);
    background-color: var(--secondaryButtonColor);
    font-weight: 700;
    letter-spacing: -0.1px;
    padding: 12px 32px;
    border: solid;
    font-size: 20px;
}

.btn2:hover {
    cursor: pointer;
    background-color: grey;
}

@media screen and (max-width: 768px) {
    .btn1 {
        height: 2em;
        padding: 0 5px;
        font-size: 1em;
        border: 0;
    }
}