<div class="header">
  <app-header></app-header>
</div>

<div class="wholeContent">
  <div class="leftColumn">
    <img src="./assets/emadHelmy.jpg" class="emadPhoto" />
    <div class="rightColMobile">
      <h2>Emad Helmy</h2>
      <h3 id="title">Founder</h3>
      <hr />
      <div class="contacts">
        <fa-icon (click)="callEmad()" [icon]="faPhone" />
        <fa-icon (click)="emailEmad()" [icon]="faEnvelope" />
      </div>
    </div>
  </div>
  <div class="rightColumn">
    <div class="personalInfo">
      <h3>Personal Info</h3>
      <hr />
      <p class="personalInfo">
        Emad Helmy Said Shenouda is an accomplished legal professional with over
        25 years of experience in the legal industry. Mr. Emad is a graduate of
        Cairo University, where he earned his law degree in 1992. He later
        obtained a master's degree in international law from the same
        institution in 1996, followed by a diploma in international arbitration
        in 1998.<br /><br />
        Throughout his career, Mr. Emad has demonstrated a deep understanding of
        the legal terrain, particularly in the area of international law. He has
        been an affiliate of the United Nations Development Programme (UNDP) for
        over a decade, where he has provided expert legal advice and guidance on
        a wide range of issues.<br /><br />
        Mr. Emad is also an esteemed member of the BAR Supreme Court
        Association, which is one of the most prestigious legal associations in
        the world. This membership places him in the highest level of litigation
        in Egypt. As a member of this organization, he has had the opportunity
        to collaborate with some of the brightest minds in the legal profession,
        and to contribute to the development of the international legal
        system.<br /><br />
        In 1999, Mr. Emad founded his Law Firm, which has since
        become one of the leading law firms in Egypt. The firm offers a wide
        range of legal services to both local and multinational clients, and has
        earned a reputation for its professionalism, expertise, and commitment
        to excellence.<br /><br />
        Under Mr. Emad's leadership, the Firm has helped clients
        navigate complex legal issues involving mergers and acquisitions,
        commercial transactions, international arbitration, and dispute
        resolution. The firm has also provided expert legal advice to clients in
        a variety of industries, including energy, telecommunications, and
        finance.<br /><br />
        Mr. Emad's expertise in international law and his wealth of experience
        in the legal industry have made him a trusted advisor to clients around
        the world. He has been recognized for his contributions to the legal
        profession, and has received numerous awards and accolades for his
        work.<br /><br />
        In addition to his legal work, Mr. Emad is also an active member of his
        community. He has served on the board of directors of several non-profit
        organizations, and has been a strong advocate for human rights and
        social justice.<br /><br />
        Emad Helmy Said is a seasoned legal professional with a passion for his
        work, a commitment to excellence, and a deep understanding of the legal
        terrain. His expertise, professionalism, and commitment to his clients
        have made him one of the most sought-after legal advisors in Egypt and
        beyond.
      </p>
    </div>

    <!-- <div class="infograph">
      <div class="colInfo">
        <h3>Professional Skills</h3>
        <hr />
        <p>
          We work around the clock to ensure the best interest of our clients,
          supported by their trust in our services.
        </p>
        <div class="label">
          <h6>PRACTICE AREA</h6>
          <label>80%</label>
        </div>
        <mat-slider [disabled]="true">
          <input value="80" matSliderThumb
        /></mat-slider>
        <div class="label">
          <h6>SUCCESS CASE</h6>
          <label>95%</label>
        </div>
        <mat-slider [disabled]="true">
          <input value="95" matSliderThumb
        /></mat-slider>
      </div>

      <div class="colInfo">
        <h3>Education & Awards</h3>
        <hr />
        <p>
          We work around the clock to ensure the best interest of our clients,
          supported by their trust in our services.
        </p>
        <p><b>2002:</b> Lorem ipsum dolor sit</p>
        <p><b>2004:</b> Lorem ipsum dolor sit</p>
        <p><b>2008:</b> Lorem ipsum dolor sit</p>
        <p><b>2016:</b> Lorem ipsum dolor sit</p>
      </div>
    </div> -->
  </div>
</div>

<app-footer></app-footer>
