<div class="banner position-relative" id="home">
  <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/banner1.png" class="w-100">
  <div class="position-absolute w-100 d-grid" id="div-banner-home">
    <div class="d-flex justify-content-center w-100">
      <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/logo.png" class="wd-254" id="logo">
    </div>
    <div class="d-flex justify-content-center mg-t-45 ht-33">
      <span id="banner-text" class="text-uppercase">A team of lawyers & legal consultants practicing law for over 20 years.</span>
    </div>
    <div class="d-flex justify-content-center text-center ht-33" id="div-banner-text1">
      <span id="banner-text1">Over the past 20 years we’ve served our clients<br>
        both internationally and nationally in the following areas:</span>
    </div>
    <div class="d-flex justify-content-center mg-t-45 mg-x-200 pd-x-20">
      <div class="div-area home">
        <span class="text-area">International Arbitration</span>
      </div>
      <div class="div-area home">
        <span class="text-area">Contracts & Agreements</span>
      </div>
      <div class="div-area home">
        <span class="text-area">Conflict Resolution and Litigation</span>
      </div>
      <div class="div-area home">
        <span class="text-area">Intellectual Property</span>
      </div>
    </div>
    <div class="d-flex justify-content-center mg-t-15 mg-x-200 pd-x-20">
      <div class="div-area home">
        <span class="text-area">Real Estate</span>
      </div>
      <div class="div-area home">
        <span class="text-area">Public legal consultancy</span>
      </div>
      <div class="div-area home">
        <span class="text-area">Corporate Legal Consultancy</span>
      </div>
    </div>
  </div>
</div>
<div class="banner position-relative" id="about">
  <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/banner2.png" class="w-100" id="banner-wood">
  <div class="position-absolute w-100 d-grid" id="div-banner-about">
    <div class="d-flex justify-content-center">
      <span class="text-uppercase text-white font-weight-bold label" id="label-about">About Us</span>
    </div>
    <div class="d-flex justify-content-center mg-t-120 ht-394">
      <div class="d-flex justify-content-center bg-white position-relative wd-1000">
        <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/person.png" class="wd-152 ht-152 position-absolute" id="img-person">
        <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/20.png" class="wd-200 ht-200 position-absolute" id="img-20">
        <div class="d-flex justify-content-between line-height-23" id="div-about-us-text">
          <span>
            We have been working since 1999 in all legal fields offering legal consultancy and assistance in all kinds and levels of court related business, in all types of courts and on all judicial levels.  
            Each one of our Team is specialized in a certain field which give us the possibility to cover all kind of legal services.
          </span>
          <span>
            Our Team includes a Senior Legal Expert and International Arbitrator, an Associate Lawyer with an LLM in Public Law, an Associate Lawyer specialized in Corporate Law, an Associate Lawyer specialized in Real estate, an Associate Lawyer specialized in administrative issues.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner position-relative" id="services">
  <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/banner3.png" class="w-100">
  <div class="position-absolute w-100 d-grid" id="div-banner-services">
    <div class="d-flex justify-content-center">
      <span class="text-uppercase font-weight-bold label" id="label-services">Our Services</span>
    </div>
    <div class="mg-x-139">
      <div class="mg-t-80 d-flex">
        <div class="bg-white ht-530 div-service mg-r-80">
          <center>
            <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/hr.png" class="wd-45 ht-45 mg-t-38">
          </center>
          <center>
            <span class="div-area pd-x-10">Corporate Legal Consultancy</span>
          </center>
          <div class="mg-t-27 mg-x-50 service-description" id="legal-consultancy-text">We take care of all the necessary steps for the establishing of national and international companies, as well as multinational companies, banks and small companies.<br>
            Once created, we take care of all the legal aspects during the company’s work such as providing and presenting documents to the official and commercial authorities and to the Chamber of Commerce and to the Tax Authorities, banks…. and Representing the Company before the courts… We give legal internal consultancies to the company as well.<br>
            We have a strong experience in corporate international and national law as we are the legal consultants of many multinational companies in Egypt, taking care of all their legal needs for local and international business, drafting, studying and negotiating all types of contracts they need and representing them before governmental authorities, courts, banks and other companies.
          </div>
        </div>
        <div class="bg-white ht-530 div-service">
          <center>
            <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/contract.png" class="wd-45 ht-45 mg-t-38">
          </center>
          <center>
            <span class="div-area pd-x-17">Contracts</span>
          </center>
          <div class="mg-t-27 mg-x-68 service-description">We draft all kinds of contracts in Arabic, English and French languages and take care of all the negotiations until the final signature by Parties. The types of contracts are but not limited to commercial contracts (national and international), leasing contracts, employment contacts, International Distribution contracts, Memorandum of Understandings and other…<br>
            <br>
            After signing the contracts, we offer all kind of services and solutions – legal, settlement, compromise - in case of any dispute arising out of or in connection with those contracts. 
          </div>
        </div>
      </div>
      <div class="mg-t-75 d-flex">
        <div class="bg-white ht-360 div-service mg-r-80">
          <center>
            <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/home.png" class="wd-35 ht-45 mg-t-38">
          </center>
          <center>
            <span class="div-area pd-x-15">Real Estate</span>
          </center>
          <div class="mg-t-27 mg-x-51 service-description">We study all kinds of real estate contracts, and all kinds of legal practice on real estate from investigating the ownership or any potential debts on the property to preparing and doing all the necessary steps for the registration of the property and representing our clients in case of breach of the contract or any other real estate litigation.
          </div>
        </div>
        <div class="bg-white ht-360 div-service">
          <center>
            <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/gavel.png" class="wd-45 ht-45 mg-t-38">
          </center>
          <center>
            <span class="div-area pd-x-12">Public legal consultancy</span>
          </center>
          <div class="mg-t-27 mg-x-68 white-space-pre-wrap text-center service-description">Our Firm is listed in legal directories of many foreign Embassies in Cairo. We did consultancies for many of those foreign embassies and we have among our clients a big number of foreigners. We have experience in International Organizations` consultancy as we were legal consultants for UNDP from 2005 till 2010.
          </div>
        </div>
      </div>
      <div class="mg-t-75 d-flex">
        <div class="bg-white ht-390 div-service-last mg-r-34">
          <center>
            <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/award.png" class="wd-55 ht-40 mg-t-38">
          </center>
          <center>
            <span class="div-area pd-x-15">Intellectual Property</span>
          </center>
          <div class="mg-t-27 mg-x-51 service-description">We make all the necessary steps for the registration of trademarks and Patents and handle any case in that field before the courts.
          </div>
        </div>
        <div class="bg-white ht-390 div-service-last mg-r-34">
          <center>
            <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/noun_mediation.png" class="wd-65 ht-40 mg-t-38">
          </center>
          <center>
            <span class="div-area pd-x-15">Mediation and</span>
            <span class="div-area pd-x-15 mg-t-4-f">International Arbitration</span>
          </center>
          <div class="mg-t-27 mg-x-51 service-description">We are trained to handle Arbitration in any kind of cases, and resolve the disputes in the appropriate way.
          </div>
        </div>
        <div class="bg-white ht-390 div-service-last">
          <center>
            <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/conflict.png" class="wd-45 ht-45 mg-t-38">
          </center>
          <center>
            <span class="div-area pd-x-12">Conflict Resolution</span>
            <span class="div-area pd-x-15 mg-t-4-f">and Litigation</span>
          </center>
          <div class="mg-t-27 mg-x-68 white-space-pre-wrap text-center service-description">We represent our clients in all Civil, Penal and Criminal, and Administrative cases within the Egyptian Courts. Each Lawyer in our team is specialized in a specific legal field which give us the possibility to cover all the legal fields.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="position-relative ht-525" id="clients">
  <div class="d-flex justify-content-center mg-t-100">
    <span class="text-uppercase font-weight-bold label" id="label-clients">who we worked with</span>
  </div>
  <div class="d-flex justify-content-center mg-t-100">
    <span class="wd-560 text-center line-height-23" id="text-clients">
      Emad Helmy Said Law Firm is one of the most reputable law firms in Egypt handling local and international sides of the business of major clients like Egyptian International Motors, EIT, EIF, Alkan, Creative Arab Talents, Adline Media Network, Film Factory for Movie Production, and many more national and international companies and corporations<br>
      <br>
      We participated in the project funded by the CGIAR, The International Centre for Agricultural Research in the Dry Areas (ICARDA) aiming to upgrade and enhance the legal procedures and operations in Egypt.
    </span>
  </div>
</div>
<div class="position-relative" id="testimonials">
  <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/banner4.png" class="w-100 h-100">
  <div class="position-absolute w-100 d-grid" id="div-banner-testimonials">
    <div class="d-flex justify-content-center mg-t-100">
      <span class="text-uppercase font-weight-bold label" id="label-testimonials">testimonials</span>
    </div>
    <div class="d-flex mg-t-91">
      <div class="wd-62 ht-62 bg-white mg-l-57 mg-t-80 d-flex justify-content-center align-items-center cursor-pointer" id="arrow-left">
        <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/arrow-left.png">
      </div>
      <div class="wd-754 d-flex position-relative" id="div-testimonials">
        <div>
          <div class="quote">“</div>
          <div class="text-center mg-x-127 wd-500 white-space-pre-wrap div-testimonial">
            At a critical time of conflict and need for affirmative actions and precise evaluations of the minutiae of the situation,  reaching out to Mr. Emad Helmy was the best course of action we could have taken. His endless patience for listening to lengthy details & history and his ability to be completely involved in every aspect of the case and yet at the same time retain enough detachment to enable him to propose, explain and convince us of a precise course of action showed strong leadership and was, at the same time, both reassuring and comforting. 
            But most commendable of all was his willingness to change course as events developed and to explore alternate routes of diplomacy and conflict resolution. 
            We value the friendship that developed during the time of working on the case and are very lucky and proud to be represented by him and to be able to depend on him in all matters that require legal as well as corporate expertise.
            <span class="font-weight-bold-italic">
              - Rawya & Yasmine Saleh, Cairo, Egypt</span>
          </div>
          <div class="quote d-flex text-right" id="div-quote-end">“</div>
        </div>
        <div>
          <div class="quote">“</div>
          <div class="text-center mg-x-127 wd-500 white-space-pre-wrap div-testimonial">
            “Integrity, Experience, Dedication and Perseverance”<br>
            It is in those four words that I can summarize my relationship with Emad Helmy Law Firm for the past 15 years.
            Mr. Emad Helmy embodies those crucial four characteristics to the fullest extent in his work.
            The world would be a much better place with more lawyers of that caliber.<br>
            Thank you Emad.
            <span class="font-weight-bold-italic">
              - Marwan El Azzouni, Giza, Egypt</span>
          </div>
          <div class="quote d-flex text-right" id="div-quote-end">“</div>
        </div>
        <div>
          <div class="quote">“</div>
          <div class="text-center mg-x-127 wd-500 white-space-pre-wrap div-testimonial">
            Writing a letter of recommendation is hard work, but it can be a highly rewarding activity if it greatly affects the lives of many people by helping them gain the opportunity of being introduced to an excellent lawyer, who can be of great help in advising those people of what to do in critical situations they may encounter. Emad is an extremely competent lawyer. 
            He certainly has, among many other things, precision, structure, rigor, logic obviously, 
            and consistency.
            Emad is a very thorough professional who always had my best interests in mind. 
            He is really honest and straightforward about informing me what should be done calmly and persuasively. He is patient enough to explain to me the pros and cons of every idea I propose, and gives me a lot of space to make my own choices. But he always intervenes in the right moment, if I am about to do something reckless, or not well investigated or/and studied from the pure legal point of view.
            So in a nut shell Emad is firm but utterly persuasive, patient and extremely competent, and finally honest and only concerned with my real benefit. As it happened, all his decisions (so far) have been the right ones. He does have the intuition of an extremely good lawyer. His decisions are always based to serve my policies in whatever matter by carefully selecting the most appropriate procedures.
            Since appointing Emad as my regular lawyer, I always felt that my legal rights in any matter were in very good hands. Emad is extremely punctual, never missed a scheduled meeting and he always took my calls. What I especially liked about Emad was his ability to remain calm in crisis situations.
            Emad became a key and integral part of my work (and any buisness I happen to engage in) and I owe a debt of gratitude to him for his service.
            I have absolutely no reservations to generate this recommendation letter for him. Emad is a solid lawyer who practices nothing but the best customer service methods. 
            Emad owns a firm with many competent mostly young lawyers. Each one of those lawyers is competent in his area of interest or specialization. The ones I dealt with among his team of lawyers are comfortable managing legal files, preparing and negotiating contracts, and performing an array of office tasks. 
            Some have acquired exceptional administrative skills, acting as de facto go between for clients on a regular basis. They all have the descipline of communicational and inter-personnel skills to support colleagues and clients.
            To conclude Emad is a dedicated, conscientious, reliable Lawyer, having an equally competent team, and I strongly recommend him as a competent Lawyer for any one who faces any legal problems, particularly intricate ones needing unconventional approaches and a lot of ingenuity.
            <span class="font-weight-bold-italic">
              - Tarek Sayed Ahmed,  July 15, 2020</span>
          </div>
          <div class="quote d-flex text-right" id="div-quote-end">“</div>
        </div>
      </div>
      <div class="wd-62 ht-62 bg-white mg-r-57 mg-t-80 d-flex justify-content-center align-items-center cursor-pointer" id="arrow-right">
        <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/arrow-right.png">
      </div>
    </div>
  </div>
</div>
<div class="position-relative mg-y-29 ht-731" id="contact-us">
  <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/banner5.png" class="w-100 h-100">
  <div class="position-absolute w-100 d-grid" id="div-banner-contact">
    <div class="d-flex justify-content-center mg-t-80">
      <span class="text-uppercase text-white font-weight-bold label" id="label-contact">contact us</span>
    </div>
    <div class="mg-t-75 pd-t-114 pd-x-130 ht-456 mg-x-139 bg-white">
      <div class="d-flex justify-content-between">
        <div class="text-center">
          <div class="label-contact-info">Address</div>
          <div class="text-contact-info">15 El Marashly St., Zamalek,<br>
            Cairo Egypt</div>
        </div>
        <div class="text-center">
          <div class="label-contact-info">Telephone</div>
          <div class="text-contact-info">
            0122 466 1050<br>
            0020 2273 74374<br>
            0020 2273 74373<br>
            0020 2273 72367
          </div>
        </div>
        <div class="text-center">
          <div class="label-contact-info">Email</div>
          <div class="text-contact-info">
            emad@emadlawfirm.com
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mg-t-90 line-height-23" id="div-working-hours">
        <span class="font-weight-bold-italic">Working Hours:</span> <span class="font-weight-italic pd-l-5">Saturday - Wednesday from 9:00 AM to 6:00 PM</span>
      </div>
    </div>
  </div>
</div>