<div class="banner position-relative" id="home">
  <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/banner1.png" class="w-100">
  <div class="position-absolute w-100 d-grid" id="div-banner-home">
    <div class="d-flex justify-content-center w-100">
      <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/logo.png" class="wd-254" id="logo">
    </div>
    <div class="d-flex justify-content-center mg-t-45 ht-33">
      <span id="banner-text" class="text-uppercase">A team of lawyers & legal consultants practicing law for over 20 years.</span>
    </div>
    <div class="d-flex justify-content-center text-center ht-33" id="div-banner-text1">
      <span id="banner-text1">Over the past 20 years we’ve served our clients<br>
        both internationally and nationally in the following areas:</span>
    </div>
    <div class="d-flex justify-content-center mg-t-45 mg-x-200 pd-x-20">
      <div class="div-area home">
        <span class="text-area">International Arbitration</span>
      </div>
      <div class="div-area home">
        <span class="text-area">Contracts & Agreements</span>
      </div>
      <div class="div-area home">
        <span class="text-area">Conflict Resolution and Litigation</span>
      </div>
      <div class="div-area home">
        <span class="text-area">Intellectual Property</span>
      </div>
    </div>
    <div class="d-flex justify-content-center mg-t-15 mg-x-200 pd-x-20">
      <div class="div-area home">
        <span class="text-area">Real Estate</span>
      </div>
      <div class="div-area home">
        <span class="text-area">Public legal consultancy</span>
      </div>
      <div class="div-area home">
        <span class="text-area">Corporate Legal Consultancy</span>
      </div>
    </div>
  </div>
</div>
<div class="banner position-relative" id="about">
  <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/banner2.png" class="w-100">
  <div class="position-absolute w-100 d-grid" id="div-banner-about">
    <div class="d-flex justify-content-center">
      <span class="text-uppercase text-white font-weight-bold" id="label-about">About Us</span>
    </div>
    <div class="d-flex justify-content-center mg-t-120 ht-394">
      <div class="d-flex justify-content-center bg-white position-relative wd-1000">
        <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/person.png" class="wd-152 ht-152 position-absolute" id="img-person">
        <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/20.png" class="wd-200 ht-200 position-absolute" id="img-20">
        <div class="d-flex justify-content-between" id="div-about-us-text">
          <span>
            We have been working since 1999 in all legal fields offering legal consultancy and assistance in all kinds and levels of court related business, in all types of courts and on all judicial levels.  
            Each one of our Team is specialized in a certain field which give us the possibility to cover all kind of legal services.
          </span>
          <span>
            Our Team includes a Senior Legal Expert and International Arbitrator, an Associate Lawyer with an LLM in Public Law, an Associate Lawyer specialized in Corporate Law, an Associate Lawyer specialized in Real estate, an Associate Lawyer specialized in administrative issues.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner position-relative" id="services">
  <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/banner3.png" class="w-100">
  <div class="position-absolute w-100 d-grid" id="div-banner-services">
    <div class="d-flex justify-content-center">
      <span class="text-uppercase font-weight-bold" id="label-services">Our Services</span>
    </div>
    <div class="mg-x-139">
      <div class="mg-t-80 d-flex">
        <div class="bg-white ht-530 div-service mg-r-80">
          <center>
            <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/hr.png" class="wd-45 ht-45 mg-t-38">
          </center>
          <center>
            <span class="div-area pd-x-10">Corporate Legal Consultancy</span>
          </center>
          <div class="mg-t-38 mg-x-50 service-description">We take care of all the necessary steps for the establishing of national and international companies, as well as multinational companies, banks and small companies.<br>
            Once created, we take care of all the legal aspects during the company’s work such as providing and presenting documents to the official and commercial authorities and to the Chamber of Commerce and to the Tax Authorities, banks…. and Representing the Company before the courts… We give legal internal consultancies to the company as well.<br>
            We have a strong experience in corporate international and national law as we are the legal consultants of many multinational companies in Egypt, taking care of all their legal needs for local and international business, drafting, studying and negotiating all types of contracts they need and representing them before governmental authorities, courts, banks and other companies.
          </div>
        </div>
        <div class="bg-white ht-530 div-service">
          <center>
            <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/contract.png" class="wd-45 ht-45 mg-t-38">
          </center>
          <center>
            <span class="div-area pd-x-17">Contracts</span>
          </center>
          <div class="mg-t-38 mg-x-68 service-description">We draft all kinds of contracts in Arabic, English and French languages and take care of all the negotiations until the final signature by Parties. The types of contracts are but not limited to commercial contracts (national and international), leasing contracts, employment contacts, International Distribution contracts, Memorandum of Understandings and other…<br>
            <br>
            After signing the contracts, we offer all kind of services and solutions – legal, settlement, compromise - in case of any dispute arising out of or in connection with those contracts. 
          </div>
        </div>
      </div>
      <div class="mg-t-75 d-flex">
        <div class="bg-white ht-360 div-service mg-r-80">
          <center>
            <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/home.png" class="wd-35 ht-45 mg-t-38">
          </center>
          <center>
            <span class="div-area pd-x-15">Real Estate</span>
          </center>
          <div class="mg-t-38 mg-x-51 service-description">We study all kinds of real estate contracts, and all kinds of legal practice on real estate from investigating the ownership or any potential debts on the property to preparing and doing all the necessary steps for the registration of the property and representing our clients in case of breach of the contract or any other real estate litigation.
          </div>
        </div>
        <div class="bg-white ht-360 div-service">
          <center>
            <img src="https://emad-helmy.s3-eu-west-1.amazonaws.com/gavel.png" class="wd-45 ht-45 mg-t-38">
          </center>
          <center>
            <span class="div-area pd-x-12">Public legal consultancy</span>
          </center>
          <div class="mg-t-38 mg-x-68 white-space-pre-wrap text-center service-description">Our Firm is listed in legal directories of many foreign Embassies in Cairo. We did consultancies for many of those foreign embassies and we have among our clients a big number of foreigners. We have experience in International Organizations` consultancy as we were legal consultants for UNDP from 2005 till 2010.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>