<div class="advocacyCentre">
  <app-header></app-header>
  <div class="custom_sized_box">
    <h1 class="adCentre">Our Services</h1>
  </div>
</div>

<div style="display: flex; align-items: center; justify-content: center">
  <div class="allInAll">
    <div class="menuBefore">
      <div class="titleRow">
        <h2>Our Services</h2>
        <fa-icon
          [icon]="plusClicked ? faSquareMinus : faSquarePlus"
          (click)="setPlusIcon()"
          id="fas fa-square-plus"
        />
      </div>
      <hr />
      <div *ngIf="plusClicked" class="menuItemsMobile">
        <div
          class="item"
          *ngFor="let service of services; let clickedIndex = index"
          (click)="setClicked(service, clickedIndex)"
        >
          <fa-icon
            [icon]="faAngleRight"
            [ngStyle]="{
              'font-weight': clicked == service ? '900' : '100'
            }"
          ></fa-icon>
          <h4
            [ngStyle]="{
              'font-weight': clicked == service ? '900' : '100'
            }"
          >
            {{ service }}
          </h4>
        </div>
      </div>
    </div>

    <div class="customWidth">
      <img
        src="{{ servicesData[clickedIndex].img }}"
        id="webImg"
        alt="service"
      />
      <div class="mobile">
        <h1>{{ services[clickedIndex] }}</h1>
        <img
          src="{{ servicesData[clickedIndex].img }}"
          id="mobImg"
          alt="service"
        />
        <div class="serviceData">
          <p class="data">{{ servicesData[clickedIndex].data }}</p>
          <div class="sections">
            <div class="secOne" *ngIf="servicesData[clickedIndex].titleOne!">
              <h3>{{ servicesData[clickedIndex].titleOne }}</h3>
              <hr />
              <div
                class="bulletList"
                *ngIf="servicesData[clickedIndex].listOne!"
              >
                <ul>
                  <li *ngFor="let item of servicesData[clickedIndex].listOne">
                    {{ item }}
                  </li>
                </ul>
                <ul>
                  <li *ngFor="let item of servicesData[clickedIndex].listTwo">
                    {{ item }}
                  </li>
                </ul>
              </div>
              <p>{{ servicesData[clickedIndex].descOne }}</p>
            </div>
            <div class="secOne" *ngIf="servicesData[clickedIndex].titleTwo!">
              <h3>{{ servicesData[clickedIndex].titleTwo }}</h3>
              <hr />
              <p>{{ servicesData[clickedIndex].descTwo }}</p>
            </div>
          </div>
        </div>

        <div
          class="extraOffering"
          *ngIf="servicesData[clickedIndex].extraOfferings!"
        >
          <p>{{ servicesData[clickedIndex].extraOfferings }}</p>
        </div>

        <div
          class="specOfOperation"
          *ngIf="servicesData[clickedIndex].listOfSpec!"
        >
          <h5>The spectrum of operation includes, but is not limited to:</h5>
          <div
            class="specItem"
            *ngFor="let item of servicesData[clickedIndex].listOfSpec"
          >
            <fa-icon [icon]="faCircle" class="bullet"></fa-icon>
            <h4>{{ item }}</h4>
          </div>
        </div>

        <div class="endingPar" *ngIf="servicesData[clickedIndex].endingPar!">
          <p>{{ servicesData[clickedIndex].endingPar }}</p>
        </div>
      </div>
    </div>
    <div class="menu">
      <h2>Our Services</h2>
      <hr />
      <div class="menuItems">
        <div
          class="item"
          *ngFor="let service of services; let clickedIndex = index"
          (click)="setClicked(service, clickedIndex)"
        >
          <fa-icon
            [icon]="faAngleRight"
            [ngStyle]="{
              'font-weight': clicked == service ? '900' : '100'
            }"
          ></fa-icon>
          <h4
            [ngStyle]="{
              'font-weight': clicked == service ? '900' : '100'
            }"
          >
            {{ service }}
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="web-content">
  <div class="centered-web-content">
    <h1>{{ services[clickedIndex] }}</h1>
    <img src="{{ servicesData[clickedIndex].img }}" id="mobImg" alt="service" />
    <div class="serviceData">
      <p class="data">{{ servicesData[clickedIndex].data }}</p>
      <div class="sections">
        <div class="secOne" *ngIf="servicesData[clickedIndex].titleOne!">
          <h3>{{ servicesData[clickedIndex].titleOne }}</h3>
          <hr />
          <div class="bulletList" *ngIf="servicesData[clickedIndex].listOne!">
            <ul>
              <li *ngFor="let item of servicesData[clickedIndex].listOne">
                {{ item }}
              </li>
            </ul>
            <ul>
              <li *ngFor="let item of servicesData[clickedIndex].listTwo">
                {{ item }}
              </li>
            </ul>
          </div>
          <p>{{ servicesData[clickedIndex].descOne }}</p>
        </div>
        <div class="secOne" *ngIf="servicesData[clickedIndex].titleTwo!">
          <h3>{{ servicesData[clickedIndex].titleTwo }}</h3>
          <hr />
          <p>{{ servicesData[clickedIndex].descTwo }}</p>
        </div>
      </div>
    </div>

    <div
      class="extraOffering"
      *ngIf="servicesData[clickedIndex].extraOfferings!"
    >
      <p>{{ servicesData[clickedIndex].extraOfferings }}</p>
    </div>

    <div class="specOfOperation" *ngIf="servicesData[clickedIndex].listOfSpec!">
      <h5>The spectrum of operation includes, but is not limited to:</h5>
      <div
        class="specItem"
        *ngFor="let item of servicesData[clickedIndex].listOfSpec"
      >
        <fa-icon [icon]="faCircle" class="bullet"></fa-icon>
        <h4>{{ item }}</h4>
      </div>
    </div>

    <div class="endingPar" *ngIf="servicesData[clickedIndex].endingPar!">
      <p>{{ servicesData[clickedIndex].endingPar }}</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
