<div class="main-div web">
  <h1>Fields of Expertise</h1>

  <div class="row">
    <div style="width: 40%">
      <app-service-card
        title="ADMINISTRATIVE LAW"
        body="Our lawyers is competent to handle matters that fall within the scope of administrative law."
        img="administrative_background.png"
      ></app-service-card>
    </div>
    <div style="width: 60%">
      <app-service-card
        title="REAL ESTATE"
        body="We study all kinds of real estate contracts and all kinds of legal practice on real estate from investigating the ownership or any potential debts on the property to preparing and doing all the necessary steps for the registration of the property and representing our clients in case of breach of the contract or any other real estate litigation."
        img="real-estate.jpg"
      ></app-service-card>
    </div>
  </div>

  <div class="row">
    <div style="width: 60%">
      <app-service-card
        title="LABOR LAW"
        body="Our Firm is ready to assist companies to achieve compliance with international and national labor standards and help provide further legal assistance in relation to the dispute and the implementation of labor laws in Egypt."
        img="Labor_background.png"
      ></app-service-card>
    </div>
    <div style="width: 40%">
      <app-service-card
        title="CIVIL LAW"
        body="Our lawyers have represented clients with civil disputes at every stage of the process where the issues mainly revolve around contractual disputes and tort."
        img="civil_background.png"
      ></app-service-card>
    </div>
  </div>

  <div class="row">
    <div style="width: 40%">
      <app-service-card
        title="INTELLECTUAL PROPERTY"
        body="We make all the necessary steps for the registration of trademarks and Patents and handle any case in that field before the courts."
        img="criminal_law_background.jpeg"
      ></app-service-card>
    </div>
    <div style="width: 60%">
      <app-service-card
        title="LITIGATION"
        body="Our lawyers have extensive experiences in all matters involving litigation, especially in civil and criminal litigation. Our team is well prepared to assist our clients at every stage of the process and help structure and plan the most suitable strategy as well as approach in handling the case."
        img="litigation_background.webp"
      ></app-service-card>
    </div>
  </div>

  <div class="row">
    <div style="width: 60%">
      <app-service-card
        title="CONTRACTUAL AGREEMENTS"
        body="We have extensive experience in corporate international and national law. We are also the legal consultants to many multinational companies in Egypt. This involves handling all their legal needs for local and international business, drafting, studying and negotiating all types of contracts they need and representing them before governmental authorities courts, banks and other companies."
        img="Contractual_background.png"
      ></app-service-card>
    </div>
    <div style="width: 40%">
      <app-service-card
        title="International Arbitration"
        body="International arbitration is a preferred method for resolving disputes arising from international commercial agreements. It's a flexible, efficient, and confidential process, conducted under various rules. The award is binding and enforceable under international law."
        img="international_arbitration.jpeg"
      ></app-service-card>
    </div>
  </div>

  <div class="row">
    <div style="width: 40%">
      <app-service-card
        title="Mergers and Acquisitions"
        body="M&A transactions involve combining or acquiring companies, and require experienced legal and financial advisors to minimize risks and maximize value. The process includes negotiating terms, conducting due diligence, and complying with regulations. Companies must carefully consider the risks and benefits before proceeding."
        img="mergers_n_acquisition.jpeg"
      ></app-service-card>
    </div>
    <div style="width: 60%">
      <app-service-card
        title="Family Law"
        body="Family law attorneys provide legal advice and representation in areas such as divorce, child custody, and property division. They assist in negotiating settlements, drafting agreements, and representing clients in court. Their aim is to help families achieve the best possible outcomes for their unique situations."
        img="family_law.png"
      ></app-service-card>
    </div>
  </div>
</div>

<div class="main-div mobile">
  <h1>Fields of Expertise</h1>

  <div class="row">
    <div style="width: 38%">
      <app-service-card
        title="ADMINISTRATIVE LAW"
        body="Our lawyers are competent to handle matters that fall within the scope of administrative law."
        img="administrative_background.png"
      ></app-service-card>
    </div>
    <div style="width: 58%">
      <app-service-card
        title="REAL ESTATE"
        body="We study all kinds of real estate contracts and all kinds of legal practice on real estate from investigating the ownership or any potential debts on the property to preparing and doing all the necessary steps for the registration of the property and representing our clients in case of breach of the contract or any other real estate litigation."
        img="real-estate.jpg"
      ></app-service-card>
    </div>
  </div>

  <div class="row">
    <div style="width: 58%">
      <app-service-card
        title="LABOR LAW"
        body="Our Firm is ready to assist companies to achieve compliance with international and national labor standards and help provide further legal assistance in relation to the dispute and the implementation of labor laws in Egypt."
        img="Labor_background.png"
      ></app-service-card>
    </div>
    <div style="width: 38%">
      <app-service-card
        title="CIVIL LAW"
        body="Our lawyers have represented clients with civil disputes at every stage of the process where the issues mainly revolve around contractual disputes and tort."
        img="civil_background.png"
      ></app-service-card>
    </div>
  </div>

  <div class="row">
    <div style="width: 38%">
      <app-service-card
        title="INTELLECTUAL PROPERTY"
        body="We make all the necessary steps for the registration of trademarks and Patents and handle any case in that field before the courts."
        img="criminal_law_background.jpeg"
      ></app-service-card>
    </div>
    <div style="width: 58%">
      <app-service-card
        title="LITIGATION"
        body="Our lawyers have extensive experiences in all matters involving litigation, especially in civil and criminal litigation. Our team is well prepared to assist our clients at every stage of the process and help structure and plan the most suitable strategy as well as approach in handling the case."
        img="litigation_background.webp"
      ></app-service-card>
    </div>
  </div>

  <div class="row">
    <div style="width: 58%">
      <app-service-card
        title="CONTRACTUAL AGREEMENTS"
        body="We have extensive experience in corporate international and national law. We are also the legal consultants to many multinational companies in Egypt. This involves handling all their legal needs for local and international business, drafting, studying and negotiating all types of contracts they need and representing them before governmental authorities courts, banks and other companies."
        img="Contractual_background.png"
      ></app-service-card>
    </div>
    <div style="width: 38%">
      <app-service-card
        title="International Arbitration"
        body="International arbitration is a preferred method for resolving disputes arising from international commercial agreements. It's a flexible, efficient, and confidential process, conducted under various rules. The award is binding and enforceable under international law."
        img="international_arbitration.jpeg"
      ></app-service-card>
    </div>
  </div>

  <div class="row">
    <div style="width: 38%">
      <app-service-card
        title="Mergers and Acquisitions"
        body="M&A transactions involve combining or acquiring companies, and require experienced legal and financial advisors to minimize risks and maximize value. The process includes negotiating terms, conducting due diligence, and complying with regulations. Companies must carefully consider the risks and benefits before proceeding."
        img="mergers_n_acquisition.jpeg"
      ></app-service-card>
    </div>
    <div style="width: 58%">
      <app-service-card
        title="Family Law"
        body="Family law attorneys provide legal advice and representation in areas such as divorce, child custody, and property division. They assist in negotiating settlements, drafting agreements, and representing clients in court. Their aim is to help families achieve the best possible outcomes for their unique situations."
        img="family_law.png"
      ></app-service-card>
    </div>
  </div>
</div>
