<div class="custom-container">
  <h1>Fields of Expertise</h1>
  <div class="custom_row ltr">
    <app-service-card
      width="800px"
      title="LITIGATION"
      body="Our lawyers have extensive experiences in all matters involving litigation, especially in civil and criminal litigation. Our team is well prepared to assist our clients at every stage of the process and help structure and plan the most suitable strategy as well as approach in handling the case."
      img="litigation_background.webp"
    ></app-service-card>
    <app-service-card
      width="400px"
      title="CRIMINAL LAW"
      body="Our lawyers have represented clients at every stage of the process ranging from investigation, prosecution to court hearing. We have experiences in handling criminal cases, including but not limited to fraud, embezzlement and forgery."
      img="criminal_law_background.jpeg"
    ></app-service-card>
    <app-service-card
      width="800px"
      title="REAL ESTATE"
      body="We study all kinds of real estate contracts and all kinds of legal practice on real estate from investigating the ownership or any potential debts on the property to preparing and doing all the necessary steps for the registration of the property and representing our clients in case of breach of the contract or any other real estate litigation."
      img="real-estate.jpg"
    ></app-service-card>
    <app-service-card
      width="800px"
      title="LITIGATION"
      body="Our lawyers have extensive experiences in all matters involving litigation, especially in civil and criminal litigation. Our team is well prepared to assist our clients at every stage of the process and help structure and plan the most suitable strategy as well as approach in handling the case."
      img="litigation_background.webp"
      (click)="navigate(0)"
    ></app-service-card>
    <app-service-card
      width="400px"
      title="CRIMINAL LAW"
      body="Our lawyers have represented clients at every stage of the process ranging from investigation, prosecution to court hearing. We have experiences in handling criminal cases, including but not limited to fraud, embezzlement and forgery."
      img="criminal_law_background.jpeg"
    ></app-service-card>
    <app-service-card
      width="800px"
      title="CONSTITUTIONAL LAW"
      body="By always keeping updated of the development of Egyptian laws, our lawyers are able to help clients to get better understanding of the laws in The Arab Republic of Egypt."
      img="Constitutional_background.png"
    ></app-service-card>
  </div>
  <div class="custom_row rtl">
    <app-service-card
      width="400px"
      title="CIVIL LAW"
      body="Our lawyers have represented clients with civil disputes at every stage of the process where the issues mainly revolve around contractual disputes and tort."
      img="civil_background.png"
    ></app-service-card>
    <app-service-card
      width="800px"
      title="INTELLECTUAL PROPERTY"
      body="We make all the necessary steps for the registration of trademarks and Patents and handle any case in that field before the courts."
      img="criminal_law_background.jpeg"
    ></app-service-card>
    <!-- <app-service-card
      width="400px"
      title="REAL ESTATE"
      body="We study all kinds of real estate contracts and all kinds of legal practice on real estate from investigating the ownership or any potential debts on the property to preparing and doing all the necessary steps for the registration of the property and representing our clients in case of breach of the contract or any other real estate litigation."
      img="criminal_law_background.jpeg"
    ></app-service-card> -->
    <app-service-card
      width="400px"
      title="CIVIL LAW"
      body="Our lawyers have represented clients with civil disputes at every stage of the process where the issues mainly revolve around contractual disputes and tort."
      img="civil_background.png"
    ></app-service-card>
    <app-service-card
      width="800px"
      title="INTELLECTUAL PROPERTY"
      body="We make all the necessary steps for the registration of trademarks and Patents and handle any case in that field before the courts."
      img="criminal_law_background.jpeg"
    ></app-service-card>
    <app-service-card
      width="400px"
      title="REAL ESTATE"
      body="We study all kinds of real estate contracts and all kinds of legal practice on real estate from investigating the ownership or any potential debts on the property to preparing and doing all the necessary steps for the registration of the property and representing our clients in case of breach of the contract or any other real estate litigation."
      img="criminal_law_background.jpeg"
    ></app-service-card>
  </div>
  <div class="custom_row ltr">
    <app-service-card
      width="800px"
      title="ADMINISTRATIVE LAW"
      body="Our lawyers is competent to handle matters that fall within the scope of administrative law."
      img="administrative_background.png"
    ></app-service-card>
    <app-service-card
      width="400px"
      title="LABOR LAW"
      body="Our Firm is ready to assist companies to achieve compliance with international and national labor standards and help provide further legal assistance in relation to the dispute and the implementation of labor laws in Egypt."
      img="Labor_background.png"
    ></app-service-card>
    <app-service-card
      width="800px"
      title="CONTRACTUAL AGREEMENTS"
      body="We have extensive experience in corporate international and national law. We are also the legal consultants to many multinational companies in Egypt. This involves handling all their legal needs for local and international business, drafting, studying and negotiating all types of contracts they need and representing them before governmental authorities courts, banks and other companies."
      img="Contractual_background.png"
    ></app-service-card>
    <app-service-card
      width="800px"
      title="ADMINISTRATIVE LAW"
      body="Our lawyers is competent to handle matters that fall within the scope of administrative law."
      img="administrative_background.png"
    ></app-service-card>
    <app-service-card
      width="400px"
      title="LABOR LAW"
      body="Our Firm is ready to assist companies to achieve compliance with international and national labor standards and help provide further legal assistance in relation to the dispute and the implementation of labor laws in Egypt."
      img="Labor_background.png"
    ></app-service-card>
    <app-service-card
      width="800px"
      title="CONTRACTUAL AGREEMENTS"
      body="We have extensive experience in corporate international and national law. We are also the legal consultants to many multinational companies in Egypt. This involves handling all their legal needs for local and international business, drafting, studying and negotiating all types of contracts they need and representing them before governmental authorities courts, banks and other companies."
      img="Contractual_background.png"
    ></app-service-card>
  </div>
</div>
