<div class="custom_margin">
  <div class="custom_container">
    <h1 class="testiTitle">Testimonials</h1>

    <ngb-carousel class="testimonials" [pauseOnFocus]="true">
      <ng-template ngbSlide>
        <div class="testimonialsPar">
          <h3>The most trustworthy legal counsel nationwide</h3>
          <p>
            “Emad Said and his team are of the highest level of trustworthiness
            across the nation. We have had great pleasure in dealing with them
            and they have been our partners in success for the longest time.”
          </p>
          <h4>-Rawya & Yasmine Saleh, Cairo, Egypt</h4>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="testimonialsPar">
          <h3>Upholds the highest standards of integrity</h3>
          <p>
            “Every individual in Emad’s team is truly a key element in the
            successful operations of the firm, this is because of their high
            integrity and deep respect for the rule of law. All of the
            associates and senior lawyers have been highly integrous in all
            motions of operation.”
          </p>
          <h4>-Marwan El Azzouni, Giza, Egypt</h4>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="testimonialsPar">
          <h3>An Exceptional Lawyer with a Competent Team</h3>
          <p>
            “Emad is an extremely competent, honest, and patient lawyer who
            always has his client's best interests in mind. With his intuition
            and expertise, he carefully selects the most appropriate procedures
            to serve his client's policies. Emad's firm has a team of competent
            lawyers with exceptional administrative and interpersonal skills,
            making them the go-to for any legal problems.”
          </p>
          <h4>-Tarek Sayed Ahmed, Cairo, Egypt</h4>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="testimonialsPar">
          <h3>
            A Thorough Professional Who Has His Client's Best Interests in Mind
          </h3>
          <p>
            “Emad is a thorough professional who always has his client's best
            interests in mind. He is honest and straightforward in his
            communication, explaining the pros and cons of every idea. He gives
            his clients space to make their own choices, but he intervenes when
            necessary to prevent reckless actions.”
          </p>
          <h4>-Peter Anderson, Toronto, Canada</h4>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="testimonialsPar">
          <h3>
            Firm, Persuasive, Patient, and Extremely Competent
          </h3>
          <p>
            “Emad is firm, persuasive, patient, and extremely competent. He has
            the intuition of an exceptional lawyer and makes decisions that
            serve his client's policies by carefully selecting the most
            appropriate procedures. Since appointing Emad as my regular lawyer,
            I have always felt that my legal rights were in good hands.”
          </p>
          <h4>-Thomas Jameson, Houston, USA</h4>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="testimonialsPar">
          <h3>Prompt availability and ease of communication</h3>
          <p>
            “The team is easily accessible all week-round, they are prompt to
            keep their clients updated and well-informed, ensuring ease, peace
            of mind and transparency.”
          </p>
          <h4>-Christina Hudson, Washington D.C., USA</h4>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
