.custom_margin {
    margin-top: 50px;
    width: 100vw;
}

.testiTitle{
    color: var(--secondaryButtonColor);
    background-color: white;
    width: 40%;
    height: 13vh;
    padding-left: 3vw;
    text-align: center;
    font-size: 65px;
    line-height: 12vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.custom_container {
    background: var(--secondaryButtonColor);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    height: 45vw;
}

.testimonials{
    width:70%;
    /* height: 35vw; */
    /* height: 50%; */
    margin: 0 2vw 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.testimonialsPar{
    /* width:42%;
    height: 62%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 4px solid white;
    border-radius: 20px;
    margin: 0 10vw 0 10vw;
    padding: 5%;
    margin-bottom: 10px;
}

.testimonialsPar>p{
    font-size: 1.3rem;
    line-height: 140%;
    color: white;
    height: 100%;
    margin: 2vh 2vh 2vh 2vh;
    display: flex;
    align-items: center;
}

.testimonialsPar>h4{
    margin-top: 5px;
    display: flex;
    align-self: flex-start;
}

.testimonialsPar>h3{
    font-weight: 700;
}

@media screen and (max-width: 1025px) {
    .custom_margin {
        display: flex;
        align-items: center;
        height: 70vh;
    }
    .custom_container {
        flex-direction: column;
        min-height: 70vh;
        align-items: start;
        justify-content: space-evenly;
    }

    .testiTitle {
        width: 70%;
        font-size: 2.5em;
    }

    .testimonials {
        align-self: center;
        /* width: 80%; */
        padding: 2%;
        width: 100%;
        /* height: auto; */
        /* background-color: #E8D7CA; */
        border: 0;
        color: white;
    }
    
    .testimonialsPar>p {
        margin: 0;
        margin-bottom: 5px;
        color: white;
        font-size: 0.75em;
        line-height: 110%;
        font-size: 1rem;
        height: 110%;
        width: 90%;
    }

    h4 {
        margin: 0;
        font-size: 0.8em;
    }
}