// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "lib/slick";

$color-base: #1c1c1c;
$color-maroon: #45251f;
$color-dark: #2B0D0D;

nav {
    top: 0;
    z-index: 1000;
}

.bg-main {
    background-color: $color-base;
}

.bg-maroon {
    background-color: $color-maroon;
}

.white-space-pre-wrap {
    white-space: pre-wrap;
}

.font-weight-italic {
    font-family: "PlantinItalic";
}

.font-weight-bold-italic {
    font-family: "PlantinBoldItalic";
}

.line-height-23 {
    line-height: 23px;
}

.nav-item {
    text-transform: lowercase !important;
    color: white;
    margin-right: 70px;
    font-size: 13px;
}

.nav-item:hover {
    color: white;
}

#logo {
    height: intrinsic;
}

.banner {
    padding-top: 28px;
}

#div-banner-home {
    top: 55px;
}

#banner-text {
    font-size: 18px;
    letter-spacing: 0.5px;
}

#div-banner-text1 {
    margin-top: 27px;
    font-size: 13px;
    line-height: 20px;
}

.div-area {
    background-color: $color-maroon;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
}

.div-area.home:not(:last-child) {
    margin-right: 23px;
}

.label {
    letter-spacing: 27px;
    font-size: 24px;
    font-weight: bold;
}

.text-area {
    font-size: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 217px;
    text-transform: capitalize !important;
}

#banner-wood {
    height: 760px;
}

#div-about-us-text {
    margin-top: 140px;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 50px;
    color: $color-base;
}

#div-about-us-text > span {
    font-size: 13px;
}

#div-about-us-text > span:first-child {
    margin-right: 61px;
}

#div-banner-about,
#div-banner-services {
    top: 80px;
}

#img-person {
    margin-top: -50px;
}

#img-20 {
    right: -40px;
    bottom: -67px;
}

#label-services,
#label-clients,
#label-testimonials {
    color: $color-dark;
}

.div-service {
    width: calc(100% - 40px);
}

.div-service-last {
    width: calc(100% - 34px);
}

.div-service,
.div-service-last {
    filter: drop-shadow(6px 6px 9px rgba(0, 0, 0, 0.161));
}

span.div-area {
    min-height: 35px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    margin-top: 27px;
    margin-left: 15px;
    margin-right: 15px;
}

.service-description {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $color-base;
    padding-bottom: 20px;
}

#legal-consultancy-text {
    letter-spacing: -0.1px;
}

#text-clients {
    font-size: 14px;
    color: $color-base;
}

#div-banner-testimonials,
#div-banner-contact {
    top: 0px;
}

.label-contact-info {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 48px;
}

.text-contact-info {
    text-align: center;
    color: $color-base;
    font-size: 13px;
}

#div-working-hours {
    font-size: 13px;
}

.quote {
    font-size: 101px;
    color: $color-dark;
    line-height: 145px;
    height: 60px;
}

#div-quote-end {
    transform: rotate(180deg);
}

#div-testimonials {
    width: 60%;
}

.div-testimonial {
    font-size: 14px;
    line-height: 23px;
    width: calc(100% - 254px);
}

#div-banner-testimonials {
    height: inherit;
}

#arrow-left,
#arrow-right {
    min-width: 62px;
    border-radius: 50%;
}

#arrow-left {
    margin-left: 5%;
    margin-right: 10%;
}

#arrow-right {
    margin-left: 10%;
    margin-right: 5%;
}

#arrow-left > img, #arrow-right > img {
    width: 16px;
    height: 32px;
}

@media (min-width: 1401px) {
    .smaller-font {
        font-size: 16px !important;
    }
}

@media (max-width: 1400px) {
    .smaller-font {
        font-size: 0.8rem !important;
    }
}

@media (max-width: 768px) {
    .banner {
        padding-top: 10px;
    }

    #logo {
        width: 161px !important;
    }

    #banner-text {
        font-size: 16px;
    }

    .div-area.home {
        margin-left: 100px !important;
        margin-right: 100px !important;
        margin-top: 12px !important;
    }

    .text-area {
        width: 100%;
    }

    .label {
        font-size: 20px;
    }

    #banner-wood {
        height: 720px;
    }

    #div-banner-about {
        top: 40px;
    }

    #div-banner-services {
        top: 120px;
    }

    #div-about {
        height: 514px;
        margin-top: 82px;
    }

    #div-about-us-text {
        margin-top: 125px;
        margin-left: 40px;
        margin-right: 40px;
    }

    #div-about-us-text > span:first-child {
        margin-right: 0px;
        margin-bottom: 32px;
    }

    #img-20 {
        right: calc(50% - 100px);
        bottom: -170px;
        z-index: 1000;
    }

    #div-services {
        margin-left: 42px;
        margin-right: 42px;
    }

    .div-service {
        width: 100%;
        height: auto;
    }
}